@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

:root {
    --fonte-family: 'Macondo', cursive;
    --cor-fundo: #87A2FB;
    --cor-primaria: #EDEDED;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--fonte-family);
}

h1 {
    font-size: 5em;
}

h2 {
    font-size: 4em;

}

h3 {
    font-size: 2em;
    margin-top: 20px;
}

.mensagem {
    font-size: 1.5em;
    margin-top: 40px;
}

.box {
    border: 2px solid var(--cor-primaria);
    display: inline-block;
    font-size: 4em;
    padding: 10px;
    margin: 20px;
}

.btn-jogar {
    padding: 8px 15px;
    border: 0;
    background: var(--cor-primaria);
    border-radius: 5px;
    margin-top: 20px;
    font-family: var(--fonte-family);
    font-size: 20px;
}

.btn-jogar:hover {
    background-color: #d8d8d8;
    font-size: 21px;
    cursor: pointer;
}